.stack-add-form {
    height: 50px;
    input {
        width: 30%;
        float: left;
        margin-right: 10px;
    }
    .save-btn {
        margin-right: 10px;
    }
}

.stack-card {
    margin-bottom: 20px;
}